# 1. Amabanga yawe (Secrets - Ibi nibyo bya mbere)
lib/services/r2_service.dart
upload-keystore.jks
*.jks
*.keystore
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# 2. Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
/build/

# 3. Android related
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/local.properties
.gradle/
Captures/

# 4. iOS/macOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.generated/
.DS_Store

# 5. IDEs (VS Code & IntelliJ)
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history

# 6. Miscellaneous
*.log
*.swp
.atom/
.buildlog/
.svn/
migrate_working_dir/
app.*.symbols
app.*.map.json
.firebase/